@page "/"
@inherits GamePageModel

<h1>MasterMind</h1>
<GameRow Row="@Engine.ComputerChoice" />

<br />

@foreach (var row in Engine.Rows)
{
    <GameRow Row="@row" />
}

<button type="button" style="width: 300px;" class="btn btn-primary" onclick="@Check">Check</button>
