@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");

body {
    margin: 10px;
}

.circle {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: yellow;
    border: 2px solid gray;
    display: inline-block;
}

.answer {
    display: inline-block;
}

.large {
    width: 300px;
}